# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/*
!@pancakeswap/
/node_modules/@pancakeswap/sdk
/node_modules/@pancakeswap/eslint-config-pancake
/node_modules/@pancakeswap/uikit/package.json
/node_modules/@pancakeswap/uikit/README.md
/node_modules/@pancakeswap/uikit/dist/components
/node_modules/@pancakeswap/uikit/dist/hooks
/node_modules/@pancakeswap/uikit/dist/util
/node_modules/@pancakeswap/uikit/dist/widgets
/.pnp
.pnp.js

# testing
/coverage
cypress/videos
cypress/screenshots
cypress/fixtures/example.json

# next.js
/.next/
/out/
.idea/

# production
/build

# misc
.DS_Store
.eslintcache

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

